{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/layout.css" />
{% endblock %}
{% block body %}
<div class="container">
    <h1 class="text-center" style="font-size: 100pt">500</h1>
    <p class="text-center">Internal Server Error</p>
</div>
{% endblock %}
