@import "layout.scss";
@import "typeahead.scss";

h2, h3 {
    text-align: center;
}

.header {
    h1 {
        text-align: center;
        margin: 20px 0;
        font-size: 8em;
    }

    p {
        text-align: center;
    }
}

.user-info {
    margin: 0 auto;
    width: 686px;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 18pt;
    text-align: center;

    & > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
        cursor: pointer;
        &.selected:before {
            content: "\2605";
            position: absolute;
        }
    }

    &.interactive > span {
        &:hover:before, &.selected:before,
        &:hover ~ span:before {
            content: "\2605";
            position: absolute;
        }
    }
}

.import-link {
    position: absolute;
    right: 12px;
    padding-top: 4px;
}

.anime {
    position: relative;
    height: 100px;
    border-color: #000;
    border-style: solid;
    border-width: 1px 0;
    background: #fff;
    margin: 10px 0;

    .content {
        position: relative;
        z-index: 1;

        h3 {
            text-align: left;
            padding-left: 10px;
        }

        .rating {
            margin-top: -10px;
            margin-right: 10px;
            font-size: 28pt;
            & > span {
                cursor: default;
            }
        }
    }

    .background {
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: url(/static/blur.svg#svgBlur);
        -webkit-filter: blur(5px);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.6;
        z-index: 0;
    }
}

#user-css {
    height: 300px;
}
