body {
    background: url(/static/squared_metal.png);
}

.container {
    position: relative;
}

.blur {
    background: url(/backgrounds/evangelion.jpg) fixed no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: url(/static/blur.svg#svgBlur);
    -webkit-filter: blur(5px);
    opacity: 0.3;
}

hr {
    border-color: #666;
}

.btn {
    border-radius: 0;
}
